@page
@model RazorRentDemo.Pages.Rent.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input hidden asp-for="CarId" value="@Model.Car.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <ul>
            <li>
                @Model.Car.Brand
            </li>
            <li>
                @Model.Car.UnitPrice
            </li>
        </ul>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

